html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 20px 0 10px 0;
  font-weight: 300;
}

h3 {
  font-size: 25px;
  margin: 15px 0 10px 0;
}

p {
  font-size: 23px;
  line-height: 110%;
  margin: 10px 0 10px 0;
}

li {
  font-size: 23px;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
